.Main_title {
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
}

.Login_access_button {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 1%;
  width: 20%;
  background-color: #f3e304;
  padding: 12px 20px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.Logout_button {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 1%;
  width: 20%;
  background-color: #f3e304;
  padding: 12px 20px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.Register_access_button {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 1%;
  width: 20%;
  background-color: #f3e304;
  padding: 12px 20px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}


.LoginRegister_data {
  width: 75%;
  padding: 12px 20px;
  margin: 1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.LoginRegister_button {
  width: 75%;
  background-color: #f3e304;
  color: black;
  padding: 14px 20px;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.LoginRegister_button:hover {
  background-color: #ecc30c;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}